<div>
  <h1>sm-modal</h1>
  弹出窗体组件
</div>
<hr>

<code>
可选属性有：
<br>
<p>showCloseBtn: boolean, 是否显示关闭按钮</p>

<p>fullScreen: boolean, 是否全屏</p>

<p>type: string</p>

<p>size: string，组件尺寸</p>

</code>

Show modal: <input type="checkbox" [(ngModel)]="showModal">

<sm-modal [isShown]="showModal" [showCloseBtn]="true" [fullScreen]="false" [size]="'large'">
    <div modalHeader>
        Modal Title
    </div>
    <div modalContent [type]="'image'">
        <div class="ui medium image">
            <!--<img src="/images/avatar/large/chris.jpg">-->
        </div>
        <div class="description">
            <div class="ui header">We've auto-chosen a profile image for you.</div>
            <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
            <p>Is it okay to use this photo?</p>
            <input type="text" [(ngModel)]="testVal">
        </div>
    </div>
    <div modalActions>
        <div class="ui black deny button">
            Nope
        </div>
        <div class="ui black button" (click)="test();">
            Test
        </div>
        <div class="ui positive right labeled icon button" (click)="test();">
            Yep, that's me
            <i class="checkmark icon"></i>
        </div>
        <div class="ui button">Cancel</div>
        <div class="ui button">OK</div>
    </div>
</sm-modal>