<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="#" class="header item">
      NG2-SEMANTIC
    </a>
    <a href="#" class="item" [routerLink]="['/']">Home</a>
    <div class="ui simple dropdown item">
      Dropdown <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="#">Link Item</a>
        <a class="item" href="#">Link Item</a>
        <div class="divider"></div>
        <div class="header">Header Item</div>
        <div class="item">
          <i class="dropdown icon"></i> Sub Menu
          <div class="menu">
            <a class="item" href="#">Link Item</a>
            <a class="item" href="#">Link Item</a>
          </div>
        </div>
        <a class="item" href="#">Link Item</a>
      </div>
    </div>
  </div>
</div>
<div class="left-menu">
  <div class="ui vertical menu">
    <div class="item" *ngFor="let menu of menus">
      <div class="header">{{menu.text}}</div>
      <div class="menu">
        <a class="item" *ngFor="let m of menu.children" [routerLink]="['/' + menu.type + '/' + m.name]">{{m.text}}</a>
      </div>
    </div>
  </div>
</div>
<div class="page-content">
  <router-outlet></router-outlet>
</div>